  <div class="row">
      <div class="col-lg-12">
          <section class="panel">
              <header class="panel-heading">
                  终端列表
              </header>
              <div class="panel-body">
                <div class="clearfix">
                    <div class="btn-group">
                        <button class="btn green" >
                          <%= link_to fa_icon("plus"), new_admin_terminal_path %>
                        </button>
                    </div>
                </div>
                <div class="space15"></div>

                <table class="table table-striped table-advance table-hover">
                  <thead>
                    <tr>
                      <th>Mac</th>
                      <th>Mid</th>
                      <th>Imei</th>
                      <th>Sim iccid</th>
                      <th>Status</th>
                      <th colspan="3"></th>
                    </tr>
                  </thead>

                  <tbody>
                    <% @terminals.each do |terminal| %>
                      <tr>
                        <td><%= terminal.mac %></td>
                        <td><%= terminal.mid %></td>
                        <td><%= terminal.imei %></td>
                        <td><%= terminal.sim_iccid %></td>
                        <td><%= terminal.status %></td>
                        <td>
                          <button class="btn btn-success btn-xs"><%= link_to fa_icon("check"), [:admin, terminal] %></button>
                          <button class="btn btn-primary btn-xs"><%= link_to fa_icon("pencil"), edit_admin_terminal_path(terminal) %><i class="icon-pencil"></i></button>
                          <button class="btn btn-danger btn-xs"><%= link_to fa_icon("trash-o"), [:admin, terminal], method: :delete, data: { confirm: 'Are you sure?' } %></button>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
              </table>
              </div>
          </section>
      </div>
  </div>
  <!-- page end-->

