<body class="login-body">
  <% flash.each do |key,value| %>
    <div class="alert alert-<%=key%>">
      <%= value %>
    </div>
  <% end %>
  <div class="container">
    
    
      <%= simple_form_for :account, as: :post, url:  sign_in_wifi_users_path,:role => "form", html: { class: "form-signin" } do |f| %>
        <h2 class="form-signin-heading">registration now</h2>

        <div class="login-wrap">
        <%= f.input_field :mobile, :autofocus => true, class: "form-control", placeholder: "手机" %>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-7 col-lg-7">
              <%= f.input_field :verify_code, class: "form-control", placeholder: "验证码" %>  
            </div>
            <div class="col-sm-5 col-lg-5">
              <a class="btn btn-info" id="send_message">获取验证码</a>
            </div>          
          </div>
        </div>
        <%= f.hidden_field :vtoken, value: params[:vtoken] %>
        <%= f.submit "Submit", class: "btn btn-lg btn-login btn-block" %>
        </div>

      <% end %>
    
  </div>
</body>