<%
  @banners = terminal_merchant.banners
%>

<div class="container">
  <div class="row mbot30">
    <div class="col-lg-5 col-xs-12 col-centered">
      <%= render partial: "partial/adv", locals: { title: "登录界面" } %>
      <%= render partial: "partial/portal_notification" %>

      <div class="row span5 col-centered" style="padding:5px 25px;margin-top:5px;margin-bottom: 5px;">
        <%= form_tag quick_login_wifi_users_path, method: 'post' do %>
          <%= hidden_field_tag :mid, params[:mid] %>
          <%= hidden_field_tag :vtoken, params[:vtoken] %>
          <%= submit_tag '一键登录', class: "btn btn-lg btn-info col-sm-12 col-xs-12 col-lg-12 col-md-12", style: "letter-spacing: 1em;"%>
        <% end %>
      </div>

      <div class="row span5 col-centered" style="padding:0 25px;margin-top:5px;">
        <button class='btn btn-lg btn-success col-sm-12 col-xs-12 col-lg-12 col-md-12' id="mobile_login" style='letter-spacing: 1em;'>
          <%= image_tag "mobile.png", style: "margin-right:10px;height: 30px;" %>手机号验证登录
          <%= image_tag "angile_right.png", class: "pull-right", style: "height:25px;" %>
        </button>
      </div>
      <div class="row span5 col-centered" id="mobile_login_modal" style="padding-top:0;padding-left:25px;padding-right:25px;padding-bottom:5px;margin-bottom: 5px;display: none;">
        <div style="padding:10px 20px 15px 20px;margin-bottom: 5px;background-color: #f1eddf;">

        <%= simple_form_for :account, as: :post, url:  sign_in_wifi_users_path,:role => "form", html: { class: "form-signin" } do |f| %>

          <div class="form-group" style="margin-bottom:10px;">
          <%= f.input_field :mobile, :autofocus => true, class: "form-control input-lg", placeholder: "手机", value: params[:account][:mobile] %>
          </div>

          <div class="form-group" id="verify_code_group" style="margin-bottom:10px;">
            <div class="row">
              <div class=" col-xs-7 col-sm-7 col-lg-7">
                <%= f.input_field :verify_code, class: "form-control input-lg", placeholder: "验证码" %>
              </div>
              <div class="col-xs-5 col-sm-5 col-lg-5" style="padding-left:0;padding-top:5px;">
                <a class="btn btn-info pull-right col-xs-12 col-sm-12 col-lg-12 " style="letter-spacing: 0.15em;" id="send_message">获取验证码</a>
              </div>
            </div>
          </div>
          <div class="row span5 col-centered" style="font-weight:100;color:#797979;font-size:13px;letter-spacing: 0.2em;">
            <div class="col-lg-offset-2 col-xs-offset-2">
              <div class="checkboxes">
                <label class="label_check" for="disclaimer_check">
                <input name="disclaimer_check" id="disclaimer_check" value="1" type="checkbox"> 我已阅读<span data-toggle="modal" data-target="#myModal" style="color:#067EC0">免责声明</span>并同意。</label>
              </div>
            </div>
          </div>
          <%= hidden_field_tag :mid, params[:mid] %>
          <%= hidden_field_tag :vtoken, params[:vtoken] %>
          <%= f.submit "&nbsp;登&nbsp;录&nbsp;".html_safe, class: "btn btn-info btn-lg col-sm-12 col-xs-12 col-lg-12 col-md-12 sign_in", style: "margin-top: 5px;letter-spacing: 1em;" %>

        <% end %>
      </div>
    </div>

    <div class="row span5 col-centered " style="color:#514625;background-color:#eecd77;padding:5px 10px;margin-top:15px;">
      其它登录方式
    </div>
    <div class="row span5 col-centered center-block" style="background-color:#e8e08a">
      <div class="col-lg-1 col-xs-1"></div>
      <div class="col-lg-3 col-xs-3" style="">
        <div class="vf-box">
          <%= image_tag "tu_03_25.png"%>
        </div>
      </div>
      <div class="col-lg-3 col-xs-3" style="">
        <div class="vf-box">
          <%= image_tag "tu_03_27.png"%>
        </div>
      </div>
      <div class="col-lg-3 col-xs-3" style="">
        <div class="vf-box">
          <%= image_tag "tu_03_29.png"%>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel"> 免责声明</h4>
          </div>
          <div class="modal-body">
            <p>尊敬的用户：您在使用视网魔免费提供的免费无线上网服务时，请保护好您的个人信息与资料，以免被他人非法获得或使用；请遵守国家相关法律法规规定，不访问非法、不良网站及发表、传输任何违法信息。您在网络上泄露个人信息资料，或者访问非法、不良网站及发表、传输任何违法信息而导致的相关损失与责任，均由您自行承担，视网魔对此不承担任何责任。
            </p>
          </div>
        </div>
      </div>
    </div>

</div>

<% content_for :script do %>
<%= javascript_tag do %>
   $( document ).ready(function() {
    $(".sign_in").click(function(){
      if($("label[for$='disclaimer_check']").prop("class").indexOf("c_on") >= 0){
        if(checkMobil($("#account_mobile").val())){
          if($("#account_verify_code").val() == ""){
            jQuery.gritter.add({
              image: '<%= asset_path "notice.png" %>',
              title: '通知',
              text: '验证码不能为空！'
            });
            return false;
          } else {
            return true;
          }
        } else {
          return false;
        }
      } else {
        jQuery.gritter.add({
          image: '<%= asset_path "notice.png" %>',
          title: '通知',
          text: '请确认同意免责声明！'
        });
        return false;
      };
    });

    $("#mobile_login").click(function(){
      $("#mobile_login_modal").toggle();
    });

    $("#disclaimer_check").trigger("click");

    <% if @mobile && @verify_code %>
        var mobile = <%= @mobile %>,
            verify_code = <%= @verify_code %>;

        $("#verify_code_group").hide();
        $("#account_verify_code").val(verify_code);

        $("#account_mobile").change(function() {
          if (mobile != $("#account_mobile").val() )
          {
            $("#verify_code_group").show();
            if ($("#account_verify_code").val() == verify_code)
            {
              $("#account_verify_code").val("");
            }
          }
          else
          {
            $("#verify_code_group").hide();
            $("#account_verify_code").val(verify_code);
          }
        });

      <% end %>

  })
  <% end %>
<% end %>
