<div class="container">
  <div class="row mbot30">
    <div class="col-lg-5 col-xs-12 col-centered">
    <%= render partial: "partial/adv", locals: { title: "登录界面" } %>
    <div class="row span5 col-centered broadcast">
      <%= image_tag 'tu_03_03.png' %> <span>热门活动</span>
    </div>
    <div class="row span5 col-centered" style="margin-top:5px;">
    <%= form_tag quick_login_wifi_users_path, method: 'post' do %>
      <%= hidden_field_tag :vtoken, params[:vtoken] %>
      <%= submit_tag '直接登录', class: "btn btn-lg btn-primary col-sm-12 col-xs-12 col-lg-12 col-md-12"%>
    <% end %>
    </div>

    <div class="row span5 col-centered " style="color:#514625;background-color:#eecd77;padding:5px 10px;margin-top:15px;">
      其它登录方式
    </div>
    <div class="row span5 col-centered center-block" style="background-color:#e8e08a">
      <div class="col-lg-1 col-xs-1"></div>
      <div class="col-lg-3 col-xs-3" style="">
        <div class="vf-box">
          <%= image_tag "tu_03_25.png"%>
        </div>
      </div>
      <div class="col-lg-3 col-xs-3" style="">
        <div class="vf-box">
          <%= image_tag "tu_03_27.png"%>
        </div>
      </div>
      <div class="col-lg-3 col-xs-3" style="">
        <div class="vf-box">
          <%= image_tag "tu_03_29.png"%>
        </div>
      </div>
    </div>


</div>
