<div class="container">
  <div class="row mbot30">
    <div class="col-lg-5 col-xs-12 col-centered">

      <div class="row span5 col-centered surrounding_merchants">

        <% @activities.each do |activity| %>
          <section class="panel">
            <header class="panel-heading" style="position:relative;">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= activity.id %>">
                <% if activity.hot %>
                  <%= image_tag "hu_hot.png", style: " position:absolute;top:0;right:0;" %>
                <% end %>
                <h4><%= activity.title %></h4>
                <span style="padding-left:20px;color:#f0ad4e"><%= activity.started_at %> ~ <%= activity.end_at %></span>
                <span class="pull-right" style="padding-right:20px;">详细 <%= fa_icon "angle-double-down" %></span>
              </a>
            <div id="collapse<%= activity.id %>" class="panel-collapse collapse">
              <div class="panel-body">
                <%= activity.description %>
              </div>
            </div>
          </section>
        <% end %>
      </div>
    </div>
  </div>
</div>