<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @agent.email %>
</p>

<p>
  <strong>Category:</strong>
  <%= @agent.agent_info.try(:category) %>
</p>

<p>
  <strong>Name:</strong>
  <%= @agent.agent_info.try(:name) %>
</p>

<p>
  <strong>Industry:</strong>
  <%= @agent.agent_info.try(:industry) %>
</p>

<p>
  <strong>City:</strong>
  <%= @agent.agent_info.try(:city) %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @agent.agent_info.try(:contact) %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @agent.agent_info.try(:telephone) %>
</p>

<p>
  <strong>Known from:</strong>
  <%= @agent.agent_info.try(:known_from) %>
</p>

<p>
  <strong>Remark:</strong>
  <%= @agent.agent_info.try(:remark) %>
</p>

<p>
  <strong>Status:</strong>
  <%= @agent.agent_info.try(:status) %>
</p>

<%= link_to 'Edit', edit_admin_agent_path(@agent) %> |
<%= link_to 'Back', admin_agents_path %>
