<p id="notice"><%= notice %></p>

<p>
<strong><%= t(".email") %>:</strong>
  <%= @agent.email %>
</p>

<p>
  <strong><%= t(".category") %>:</strong>
  <%= @agent.agent_info.try(:category) %>
</p>

<p>
  <strong><%= t(".name") %>:</strong>
  <%= @agent.agent_info.try(:name) %>
</p>

<p>
  <strong><%= t(".industry") %>:</strong>
  <%= @agent.agent_info.try(:industry) %>
</p>

<p>
  <strong><%= t(".city") %>:</strong>
  <%= @agent.agent_info.try(:city) %>
</p>

<p>
  <strong><%= t(".contact") %>:</strong>
  <%= @agent.agent_info.try(:contact) %>
</p>

<p>
  <strong><%= t(".telephone") %>:</strong>
  <%= @agent.agent_info.try(:telephone) %>
</p>

<p>
  <strong><%= t(".known_from") %>:</strong>
  <%= @agent.agent_info.try(:known_from) %>
</p>

<p>
<strong><%= t(".remark") %>:</strong>
  <%= @agent.agent_info.try(:remark) %>
</p>

<p>
  <strong><%= t(".status") %>:</strong>
  <%= @agent.agent_info.try(:status) %>
</p>

<%= link_to t(".edit"), edit_admin_agent_path(@agent) %> |
<%= link_to t(".back"), admin_agents_path %>
