<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @agent.email %>
</p>

<p>
  <strong>Category:</strong>
  <%= @agent.category %>
</p>

<p>
  <strong>Name:</strong>
  <%= @agent.name %>
</p>

<p>
  <strong>Industry:</strong>
  <%= @agent.industry %>
</p>

<p>
  <strong>City:</strong>
  <%= @agent.city %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @agent.contact %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @agent.telephone %>
</p>

<p>
  <strong>Known from:</strong>
  <%= @agent.known_from %>
</p>

<p>
  <strong>Remark:</strong>
  <%= @agent.remark %>
</p>

<p>
  <strong>Status:</strong>
  <%= @agent.status %>
</p>

<%= link_to 'Edit', edit_admin_agent_path(@agent) %> |
<%= link_to 'Back', admin_agents_path %>
