<% content_for :main_content do %>
  <p id="notice"><%= notice %></p>

  <p>
  <strong><%= t(".cover") %>:</strong>
    <%= image_tag @banner.cover.url(:small) %>
  </p>

  <p>
  <strong><%= t(".description") %>:</strong>
    <%= @banner.description %>
  </p>

  <p>
  <strong><%= t(".url") %>:</strong>
    <%= @banner.url %>
  </p>

  <%= link_to t("views.edit"), edit_merchant_banner_path(id: @banner.id) %> |
  <%= link_to t("views.back"), merchant_banners_path	 %>
<% end %>
