<div class="container">
  <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :role => 'form', html: { class: "form-signin" }) do |f| %>
  	<h2 class="form-signin-heading">欢迎登陆商家后台</h2>
  	<div class="login-wrap">
		  <%= f.input_field :mobile, :autofocus => true, class: "form-control", placeholder: "手机号" %>
		  <%= f.password_field :password, class: "form-control", placeholder: "密码" %>
		  <label class="checkbox">
		    <%= f.check_box :remember_me %> 记住我
	      <span class="pull-right">
	          <a data-toggle="modal" href="#myModal"> 忘记密码</a>
	      </span>
      </label>
		  <%= f.submit "登录", class: "btn btn-lg btn-login btn-block" %>
  	</div>
	<% end %>
</div>
