<p id="notice"><%= notice %></p>

<p>
  <strong><%= t(".name") %>:</strong>
  <%= @merchant_info.name %>
</p>

<p>
  <strong><%= t(".industry") %>:</strong>
  <%= @merchant_info.industry %>
</p>

<p>
  <strong><%= t(".province") %>:</strong>
  <%= @merchant_info.province %>
</p>

<p>
  <strong><%= t(".city") %>:</strong>
  <%= @merchant_info.city %>
</p>

<p>
  <strong><%= t(".area") %>:</strong>
  <%= @merchant_info.area %>
</p>

<p>
  <strong><%= t(".circle") %>:</strong>
  <%= @merchant_info.circle %>
</p>

<p>
  <strong><%= t(".address") %>:</strong>
  <%= @merchant_info.address %>
</p>

<p>
  <strong><%= t(".contact_person_name") %>:</strong>
  <%= @merchant_info.contact_person_name %>
</p>

<p>
  <strong><%= t(".contact_way") %>:</strong>
  <%= @merchant_info.contact_way %>
</p>

<p>
   <strong><%= t(".secondary") %>:</strong>
  <%= @merchant_info.secondary %>
</p>

<%= link_to t(".edit"), edit_admin_merchant_path(@merchant_info) %> |
<%= link_to t(".back"), admin_merchants_path %>
