<div class="container" >
	<div class="row mbot30">
		<div class="col-lg-5 col-lg-offset-3">
      <div class="span5 about-carousel">
          <div id="myCarousel" class="carousel slide">
              <!-- Carousel items -->
              <div class="carousel-inner">
                  <div class="active item">
                  		<%= image_tag "about_1.jpg" %>
                      <div class="carousel-caption">
                          <p>Donec luctus ullamcorper nulla</p>
                      </div>
                  </div>
                  <div class="item">
                  		<%= image_tag "about_2.jpg" %>
                      <div class="carousel-caption">
                          <p>Blanditiis praesentium voluptatum</p>
                      </div>
                  </div>
                  <div class="item">
                      <%= image_tag "about_1.jpg" %>
                      <div class="carousel-caption">
                          <p>Honest and amazing things that bring positive results</p>
                      </div>
                  </div>
              </div>
              <!-- Carousel nav -->
              <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                <%= fa_icon "angle-left" %>
              </a>
              <a class="carousel-control right" href="#myCarousel" data-slide="next">
                <%= fa_icon "angle-right" %>
              </a>
          </div>
      </div>

      <div class="alert alert-success alert-block" style="margin-top:15px">
        <div class="full-width-media-text">
          我要免费上网
        </div>
      </div>

      <div class="row">
        <div class="col-lg-3 col-xs-3">
          <div class="full-width-media-text">
            <%= fa_icon ["angle-right", "fa-4x"] %>
            <h4>One</h4>
          </div>
        </div>
        <div class="col-lg-3 col-xs-3">
          <div class="full-width-media-text">
              <%= fa_icon ["angle-right", "fa-4x"] %>
              <h4>Two</h4>
          </div>
        </div>
        <div class="col-lg-3 col-xs-3">
          <div class="full-width-media-text">
              <%= fa_icon ["angle-right", "fa-4x"] %>
              <h4>Three</h4>
          </div>
        </div>
        <div class="col-lg-3 col-xs-3">
          <div class="full-width-media-text">
              <%= fa_icon ["angle-right", "fa-4x"] %>
              <h4>Four</h4>
          </div>
        </div>
      </div>


      <div class="alert alert-success" style="margin-top:15px">
        <div class="full-width-media-text">
          推荐产品列表
        </div>
      </div>

      <div class="row">
        <div class="col-lg-3 col-xs-3">
          <%= image_tag "product1.jpg" %>
        </div>
        <div class="col-lg-3 col-xs-3" style="pa">
          <%= image_tag "product2.png" %>
        </div>
        <div class="col-lg-3 col-xs-3">
          <%= image_tag "product3.png" %>
        </div>
        <div class="col-lg-3 col-xs-3">
          <%= image_tag "product1.jpg" %>
        </div>
      </div>

  </div>
	</div>
</div>