<%= simple_form_for(@agent) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email %>
    <%= f.input :category %>
    <%= f.input :name %>
    <%= f.input :industry %>
    <%= f.input :city %>
    <%= f.input :contact %>
    <%= f.input :telephone %>
    <%= f.input :known_from %>
    <%= f.input :remark %>
    <%= f.input :status %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
