<p id="notice"><%= notice %></p>

<p>
  <strong>Start at:</strong>
  <%= @landing.start_at %>
</p>

<p>
  <strong>End at:</strong>
  <%= @landing.end_at %>
</p>

<p>
  <strong>Url:</strong>
  <%= @landing.url %>
</p>

<p>
  <strong>Cover iphone:</strong>
  <%= image_tag @landing.cover_iphone.url(:original) %>
</p>
<p>
  <strong>Cover iphone2x:</strong>
  <%= image_tag @landing.cover_iphone2x.url(:original) %>
</p>
<p>
  <strong>Cover iphone586:</strong>
  <%= image_tag @landing.cover_iphone586.url(:original) %>
</p>
<p>
  <strong>Cover andriod:</strong>
  <%= image_tag @landing.cover_andriod.url(:original) %>
</p>
<p>
  <strong>Cover ipad:</strong>
  <%= image_tag @landing.cover_ipad.url(:original) %>
</p>
<p>
  <strong>Cover ipad retina:</strong>
  <%= image_tag @landing.cover_ipad_retina.url(:original) %>
</p>

<%= link_to t("views.edit"), edit_admin_landing_path(@landing) %> |
<%= link_to t("views.back"), admin_landings_path %>
