<div class="row">
  <div class="col-lg-12 col-xs-12 col-centered">
    <div class="row span5 col-centered shop_title">
      <h5 class="text-center"><strong><span id="portal_style_conf_name"><%= @portal_style.name %></span></strong></h5>
    </div>
    <div class="span5 about-carousel" style="margin-bottom:30px;">
      <ul class="bxslider">
        <% if @banners.present? %>
          <% @banners.each_with_index do |banner,bindex| %>
            <li>
              <%= image_tag banner.cover, width: "100%" %>
            </li>
          <% end %>
        <% else %>
            <li>
              <%= image_tag "about_1.jpg" %>
            </li>
            <li>
              <%= image_tag "about_2.jpg" %>
            </li>
          <% end %>
      </ul>
    </div>
    <div class="row span5 col-centered free-wifi">
      <h4 class="text-center"><%= image_tag 'tu_01_03.png',height: '23' %>点击免费上网</h4>
    </div>
    <!-- portal images start -->
    <div class="portal_images">
    <div class="row span5 col-centered">
      <ul class="dragsortBox" id="list1">
        <% @mboxes.each do |mbox| %>
          <li appid="<%=mbox.id%>">
            <div class="col-lg-6 col-xs-6 thumbnail">
              <section>
                <div class="mf-box">
                  <div class="img sprite-style1-<%=mbox.default_cover%>"></div>
                  <h5 style="margin-top:0"><%= mbox.name %></h5>
                </div>
              </section>
              <div class="caption">
                <a class="icon-remove" href="javascript:enable(<%=mbox.id%>,false);"><%= fa_icon("times 2x") %></a>
                <br />
                <%= link_to "设置", edit_merchant_mbox_path(mbox.id), class: "btn btn-primary col-centered" %>
                <p>可鼠标拖动模块进行排序</p>
                <p>也可以删除此模块</p>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
    </div>
    <!-- portal images end -->
</div>
</div>
