<% content_for :main_content do %>
<div class="row">
    <div class="col-lg-4">
      <section class="panel">
        <header class="panel-heading">
           主页设置
        </header>
        <div class="panel-body">
          <%= simple_form_for [:merchant, @portal_style], :defaults => { :input_html => { :class => "form-control" } }, html: { multipart: true, remote: true, class: 'form-horizontal tasi-form' } do |f| %> 

              <%= f.input :name %>
              <!--
              <%= f.input :btn_style %>
              -->
              <div class="form-group">
                <%= f.label "广告" %>
                <div class="col-sm-8">
                  <%= link_to "设置", merchant_banners_path(portal_style_id: @portal_style.id), class: "btn btn-primary" %>
                </div>
              </div>

              <div class="form-actions">
                <%= f.button :submit %>
              </div>
          <% end %>
        </div>
      </section>
    </div>
    <div class="col-lg-4">
      <section class="panel">
      <header class="panel-heading">
         Preview
      </header>
      <div class="panel-body">
          <!-- config start -->
          <div class="row">
            <div class="col-lg-12 col-xs-12 col-centered">
              <div class="row span5 col-centered shop_title">
                <h5 class="text-center"><strong><%= @portal_style.name %></strong></h5>
              </div>
              <div class="span5 about-carousel" style="margin-bottom:-15px;">
                <div id="myCarousel" class="carousel slide">
                    <!-- Carousel items -->
                    <div class="carousel-inner">
                    <% if @banners.present? %>
                      <% @banners.each_with_index do |banner,bindex| %>
                          <div class="<%= 'active' if bindex == 0 %> item">
                            <%= image_tag banner.cover %>
                            <div class="carousel-caption">
                                <p><%= banner.description %></p>
                            </div>
                        </div>
                      <% end %>
                    <% else %>
                        <div class="active item">
                            <%= image_tag "about_1.jpg" %>
                            <div class="carousel-caption">
                                <p>Donec luctus ullamcorper nulla</p>
                            </div>
                        </div>
                        <div class="item">
                            <%= image_tag "about_2.jpg" %>
                            <div class="carousel-caption">
                                <p>Blanditiis praesentium voluptatum</p>
                            </div>
                        </div>
                        <div class="item">
                            <%= image_tag "about_1.jpg" %>
                            <div class="carousel-caption">
                                <p>Honest and amazing things that bring positive results</p>
                            </div>
                        </div>
                    <% end %>
                    </div>
                    <!-- Carousel nav -->
                    <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                      <%= fa_icon "angle-left" %>
                    </a>
                    <a class="carousel-control right" href="#myCarousel" data-slide="next">
                      <%= fa_icon "angle-right" %>
                    </a>
                </div>
              </div>
              <div class="row span5 col-centered free-wifi">
                <h4 class="text-center"><%= image_tag 'tu_01_03.png',height: '23' %>点击免费上网</h4>
              </div>
              <!-- portal images start -->
              <div class="portal_images">
              <div class="row span5 col-centered">
                <ul class="dragsortBox" id="list1">
                  <li appid="1" data-itemidx="0">
                    <div class="col-lg-6 col-xs-6">
                      <section>
                        <div class="mf-box">
                          <%= image_tag "tu_01_07.png"%>
                          <h5>关注我们</h5>
                        </div>
                      </section>
                    </div> 
                  </li>
                  <li appid="2">
                    <div class="col-lg-6 col-xs-6">
                      <section>
                        <div class="mf-box">
                          <%= image_tag "tu_01_10.png"%>
                          <h5>商品展示</h5>
                        </div>
                      </section>
                    </div>
                  </li>
                  <li appid="3">
                    <div class="col-lg-6 col-xs-6">
                      <section>
                        <div class="mf-box">
                          <%= image_tag "tu_01_17.png" %>
                          <h5>店铺介绍</h5>
                        </div>
                      </section>
                    </div>
                  </li>
                  <li appid="4">
                    <div class="col-lg-6 col-xs-6">
                      <section>
                        <div class="mf-box">
                          <%= image_tag "tu_01_15.png" %>
                          <h5>店铺活动</h5>
                        </div>
                      </section>
                    </div>
                  </li>
                  <li appid="5">
                    <div class="col-lg-6 col-xs-6">
                      <section>
                        <div class="mf-box">
                          <%= image_tag "tu_01_22.png" %>
                          <h5>搜周边</h5>
                        </div>
                      </section>
                    </div>
                  </li>
                </ul>
              </div>
              </div>
              <!-- portal images end -->
          </div>
        </div>
        <!-- config end -->
      </div>
      </section>
    </div>
</div>
<% end %>

<% content_for :script do %>
<script>
  // var i_max = 8;
  // function add_mk(){
  //    dialog=art.dialog({
  //     title: '',
  //       content: document.getElementById('add_mk'),
  //     lock: true
  //   });
  // }//添加模块
  // function zdy_mk(){
  //    dialog=art.dialog({
  //     title: '',
  //       content: document.getElementById('zdy_mk'),
  //     lock: true
  //   });
  // }
  // //删除自定义模块
  // function enable(appId,isEnable){
  //   if(isEnable && 5>=i_max){
  //     alert('最多只能启用8个模块');
  //     return;
  //   }
  //   ajaxPost("/biz/json/appModule_enable.htm",{"appId":appId,"enable":isEnable},function(resp){
  //     location.reload();
  //   });
  // }
  // function addCustom(){
  //   if(5>=i_max){
  //     alert('最多只能启用8个模块');
  //     return;
  //   }
    
  //   location.href='appModule_getCustom.htm';
  // }
  // function deleteCustom(appId){
  //   if(confirm("确定要删除吗?")){
  //         ajaxPost("/biz/json/appModule_delete.htm",{"appId":appId},function(resp){
  //           location.reload();
  //         });
  //   }
  // }
  // function unsubscribe(appId){
  //   if(confirm("确定要删除吗?")){
  //         ajaxPost("/biz/json/appModule_unsubscribe.htm",{"appId":appId},function(resp){
  //           location.reload();
  //         });
  //   }
  // }

  // function saveCustomBg(appId, bg){
  //   ajaxPost("/biz/json/appModule_saveBackground.htm",{'customBackground':bg,'appId':appId},function(resp){
  //     if(!resp.isSuccess){
  //       alert('保存失败');
  //     }
  //     else{
  //       j("#box"+appId).css("background-color",bg);
  //     }
  //   });
  // }

  // function subable_box(){
  //     dialog=art.dialog({
  //         title: '应用列表',
  //         content: document.getElementById('subable_box'),
  //         lock: true
  //     });
  // }
  // //模块拖动
  // function saveOrder() {
  //   var data = jQuery("#list1 li").map(function(){
  //     return
  //     jQuery(this).children().html();
  //   }).get();
  //   jQuery("input[name=list1SortOrder]").val(data.join("|"));
    
    
  //   var lis = jQuery("#list1 li");
  //   var appIds = [];
  //   for(var i=0;i<lis.size();i++){
  //     var obj = lis[i];
  //     var appId = jQuery(obj).attr("appId");
  //     //appIds = appIds + appId + ";";
  //     appIds.push(appId);
  //   }
  //   ajaxPost("/biz/json/appModule_changeOrder.htm",{"appIds":appIds},function(resp){
  //     if(!resp.isSuccess){
  //       alert(resp.message);
  //     }
  //   });
  // }; 

<!--

  $("#list1").dragsort({ dragSelector: "div", dragBetween: true, dragEnd: saveOrder, placeHolderTemplate: "<li class='placeHolder'><div></div></li>" });
  
  function saveOrder() {
    var data = $("#list1 li").map(function() { return $(this).children().html(); }).get();
    $("input[name=list1SortOrder]").val(data.join("|"));
  };
  
-->
</script>
<% end %>