<% content_for :main_content do %>
<div class="row">
    <div class="col-lg-4">
      <section class="panel">
        <header class="panel-heading">
           主页设置
        </header>
        <div class="panel-body">
          <%= simple_form_for [:merchant, @portal_style], :defaults => { :input_html => { :class => "form-control" } }, html: { multipart: true, remote: true, class: 'form-horizontal tasi-form', id: "portal_config_form" } do |f| %>

              <%= f.input :name, label: "简称" %>
              <%= f.input :layout, collection: ["默认一","默认二"], label: "模板", prompt: nil %>
              
          <% end %>

        </div>
      </section>

      <% if @deleted_mboxes.present? %>
      <section class="panel">
          <header class="panel-heading">
              未启用模块
          </header>
          <div class="panel-body">
            <div class="simple_form form-horizontal tasi-form">
            <% @deleted_mboxes.each do |box| %>
              <div class="form-group">
                <label class="string optional col-sm-4 col-sm-4 control-label"><%= box.name %></label>
                <div class="col-sm-8">
                    <%= link_to "设置", edit_merchant_mbox_path(box.id), class: "btn btn-primary" %>
                    <%= link_to "启用", enable_merchant_mbox_path(box.id), :method => :post, remote: true, class: "btn btn-primary" %>
                </div>
              </div>
            <% end %>
            </div>
          </div>
      </section>
      <% end %>

    </div>
    <div class="col-lg-4" style="height:100%">
      <section class="panel">
      <header class="panel-heading">
         <%= link_to "预览", wifi_merchant_path(mid: @default_terminal.mid), :target => "_blank" %>
      </header>
      <div class="panel-body">
        <!-- config start -->
          <%= render partial: @portal_style.partial_name %>
        <!-- config end -->
      </div>
      </section>
    </div>
</div>
<% end %>

<% content_for :script do %>
  <script type="text/javascript">
    window._token = '<%= form_authenticity_token %>'

    //删除自定义模块
    function enable(appId,isEnable){

      $.ajax({
        type: "DELETE",
        url: "/merchant/mboxes/"+appId+".js",
        data: { authenticity_token: window._token }
      })

    }

    $( document ).ready(function() {
        $("[rel='tooltip']").tooltip();

        $('.thumbnail').hover(
            function(){
                $(this).find('.caption').slideDown(200); //.fadeIn(250)
            },
            function(){
                $(this).find('.caption').slideUp(200); //.fadeOut(205)
            }
        );

        $('#portal_style_name').blur(function(){
            var title=$('#portal_style_name').val();
            if(title==""){
                alert("简称不能为空！");
                return ;
            }
            $.ajax({
                    type : "POST",
                    url:"/merchant/portal_styles/<%= @portal_style.id %>/save_name.js",
                    dateType:"json",
                    data: { name: title, authenticity_token: window._token }
              });
          });

          $('#portal_style_layout').change(function(){
            var layout=$('#portal_style_layout').val();
            $.ajax({
                    type : "POST",
                    url:"/merchant/portal_styles/<%= @portal_style.id %>/change_layout.js",
                    dateType:"json",
                    data: { layout: layout, authenticity_token: window._token }
              });
          });

        $('.carousel').carousel({
          interval: 3000
        })  
    });

    // save order
    function saveOrder() {
      var data = $("#list1 li").map(function() { return $(this).children().html(); }).get();
      $("input[name=list1SortOrder]").val(data.join("|"));

      var lis = jQuery("#list1 li");
      var appIds = [];
      for(var i=0;i<lis.size();i++){
        var obj = lis[i];
        var appId = jQuery(obj).attr("appid");
        //appIds = appIds + appId + ";";
        appIds.push(appId);
      }

      $.ajax({
        type: "POST",
        url: "/merchant/portal_styles/<%= @portal_style.id %>/save_order.js",
        data: { pids: appIds, authenticity_token: window._token }
      })
    };

  $("#list1").dragsort({ dragSelector: "div", dragBetween: true, dragEnd: saveOrder, placeHolderTemplate: "<li class='placeHolder'><div></div></li>" });

-->
</script>
<% end %>
