<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @portal_style.name %>
</p>

<p>
  <strong>Btn style:</strong>
  <%= @portal_style.btn_style %>
</p>

<%= link_to 'Edit', edit_merchant_portal_style_path(@portal_style) %> |
<%= link_to 'Back', edit_merchant_portal_style_pathportal_styles_path %>
