<p id="notice"><%= notice %></p>

<% content_for :main_content do %>
  <p>
  <strong><%= t(".name") %> :</strong>
    <%= @portal_style.name %>
  </p>

  <p>
  <strong><%= t(".btn_style") %>:</strong>
    <%= @portal_style.btn_style %>
  </p>

  <%= link_to t("views.edit"), edit_merchant_portal_style_path(@portal_style) %> |
  <%= link_to t("views.back"), merchant_portal_styles_path %>
<% end %>
