<% content_for :main_content do %>

  <% if @show_product_form %>
    <div class = "row">
      <div class="col-md-6">
        <%= render 'form' %>

        <%= link_to 'Show', [:merchant, @mbox] %> |
        <%= link_to 'Back', merchant_portal_style_path() %>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12">
            <div class="panel">
              <div class="panel-heading">
                添加产品
              </div>
              <div class="panel-body">
                <%= render '/merchant/products/form' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <%= render 'form' %>

    <%= link_to 'Show', [:merchant, @mbox] %> |
    <%= link_to 'Back', merchant_portal_style_path() %>
  <% end %>
<% end %>

