<% content_for :main_content do %>

  <% if @show_product_form %>
    <div class = "row">
      <div class="col-md-6">
        <%= render 'form' %>

        <%= link_to t("views.back"), merchant_portal_styles_path %>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12">
            <div class="panel">
              <div class="panel-heading">
                添加产品
              </div>
              <div class="panel-body">
                <%= render '/merchant/products/form' %>
                <div id="show_all_products">
                  <% if @product_count > 0 %>
                    <%= link_to "显示所有商品", merchant_products_path, class: "btn btn-info col-md-12" %>
                  <% else %>
                    <%= link_to "还未添加商品", merchant_products_path, class: "btn btn-info col-md-12" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <%= render 'form' %>

    <%= link_to t("views.back"), merchant_portal_styles_path %>
  <% end %>
<% end %>

