<%
  @banners = terminal_merchant.banners
  if current_portal_style
    @mboxes = current_portal_style.valid_mboxes
  end
%>
<div class="container" >
  <div class="row mbot30">
    <div class="col-lg-5 col-xs-12 col-centered">
      <%= render partial: "partial/adv", locals: { title: current_portal_style.try(:name) } %>

      <% if terminal_merchant %>
      	<% if (@auth_token && @auth_token.init?) || params[:mid] %>
	        <div class="row span5 col-centered free-wifi">
	          <%= link_to wifi_login_url(vtoken: params[:vtoken], mid: params[:mid]) do %>
	          <h4 class="text-center"><i class="sprite-style1-tu_01_03" style="display:inner-block">点击免费上网</i></h4>
	          <% end %>
	        </div>
        <% elsif @auth_token && @auth_token.active? %>
	        <div class="row span5 col-centered free-wifi">
	          <%= link_to login_success_wifi_users_url(vtoken: @auth_token.auth_token) do %>
          	<h4 class="text-center"><i class="sprite-style1-tu_01_03" style="display:inner-block">点击免费上网</i></h4>
	          <% end %>
	        </div>
        <% end %>
      <% end %>

      <!-- portal images start -->
      <div class="portal_images">
        <div class="row span5 col-centered">
          <ul>
            <% @mboxes.each do |mbox| %>
              <li class="col-lg-6 col-xs-6">
                <div>
                  <section>
                    <%= link_to(eval "#{mbox.detail_url}(mid: params[:mid], vtoken: params[:vtoken])") do %>
                      <div class="mf-box">
                        <div class="img sprite-style1-<%=mbox.default_cover%>"></div>
                        <h5><%= mbox.name %></h5>
                      </div>
                    <% end %>
                  </section>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <!-- portal images end -->
  </div>
  </div>
</div>
