<div class="container" >
  <%= javascript_include_tag "http://webapi.amap.com/maps?v=1.2&key=test" %>
  <div class="row mbot30">
    <div class="col-lg-5 col-xs-12 col-centered">
      <%= render partial: "partial/adv", locals: { title: "店铺介绍" } %>

      <%= render partial: "partial/portal_notification", locals: { style: "border: 1px solid #696;"}  %>

      <%= render partial: "partial/shop_info" %>

      <% if @merchant_info.shop_longitude && @merchant_info.shop_latitude %>
        <div id="iCenter">
        </div>
      <% end %>
    </div>
  </div>
</div>

<% content_for :script do %>
<script>
  <% if @merchant_info.shop_longitude && @merchant_info.shop_latitude %>
  $(function() {
      var longitude = "<%= @merchant_info.shop_longitude %>";
      var latitude = "<%= @merchant_info.shop_latitude %>";

      var mapObj;
      var marker;

      //初始化地图对象，加载地图
      function mapInit(){
        mapObj = new AMap.Map("iCenter", {
              center:new AMap.LngLat(parseFloat(longitude), parseFloat(latitude)), //地图中心点
              level: 13,
            });
        mapObj.plugin(["AMap.ToolBar"],function(){
          toolBar = new AMap.ToolBar();
          toolBar.hideDirection();

          mapObj.addControl(toolBar);
        });
      }
      function Init_Marker(){
          marker = new AMap.Marker({
              position: mapObj.getCenter(),
              });
          marker.setMap(mapObj);  //在地图上添加点
      }
      mapInit();
      Init_Marker();
    });
  <% end %>
  </script>
<% end %>
