<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="ROBOTS" content="NOINDEX, NOFOLLOW">

    <title>云链网络业务支撑管理系统</title>
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'admin', media: 'all' %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->
  </head>

  <body>

  <section id="container" >
      <!--header start-->
      <header id="header" class="header white-bg">
            <div class="sidebar-toggle-box">
                <div data-original-title="Toggle Navigation" data-placement="right" class="icon-reorder fa fa-bars tooltips"></div>
            </div>
            <!--logo start-->
            <%= link_to image_tag("logo.png",style: "height:25px"), admin_root_path, class: "logo" %>
            <!--logo end-->
            <div class="top-nav ">
                <!--search & user info start-->
                <ul class="nav pull-right top-menu">
                    <!-- user login dropdown start-->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <%= image_tag "avatar1_small.jpg" %>
                            <span class="username"><%= current_admin.email %></span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu extended logout">
                            <li><%= link_to "#{fa_icon'key'} Log Out".html_safe, destroy_admin_session_path, :method => :delete %>
                            </a></li>
                        </ul>
                    </li>
                    <!-- user login dropdown end -->
                </ul>
                <!--search & user info end-->

              <!-- top menu -->
              <div class="pull-left" id="global_menu">
                <%= tabs_tag builder: MenuTabBuilder, :open_tabs => { :class => "nav navbar-nav global_menu" } do |tab| %>
                  <%= tab.business '业务', admin_root_path %>
                  <%= tab.release '发布管理', admin_app_versions_path %>
                <% end %>
              </div>

            </div>

        </header>
      <!--header end-->
      <!--sidebar start-->
      <aside id="left-panel">
      <% if @left_panel.present? %>
        <%= render partial: @left_panel %>
      <% else %>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <%= tabs_tag :builder => MenuTabBuilder, :open_tabs => { :id => "nav-accordion", :class => "sidebar-menu" } do |tab| %>
                <%= tab.dashboard   fa_icon("dashboard")+content_tag(:span, '主页'), admin_root_path %>
                <%= tab.agents      '代理商', admin_agents_path %>
                <%= tab.merchants   '商家', admin_merchants_path %>
                <%= tab.terminals   '终端', admin_terminals_path %>
                <%= tab.landings   '广告', admin_landings_path %>
                <%= tab.categories   '类别', admin_categories_path %>
                <%= tab.auth_message '验证消息', admin_auth_message_path%>

                <%= tab.group '<i class="fa fa-lg fa-fw fa-gears"></i>
                    <span class="menu-item-parent">
                     分组管理
                    </span>'.html_safe, group_by_agent_admin_agents_path%>

                <%= tab.statistics '<i class="fa fa-lg fa-fw fa-pencil"></i> <span class="menu-item-parent"> 统计</span>'.html_safe, admin_message_warnings_path %>

              <% end %>
              <!-- sidebar menu end-->
          </div>
        <% end %>
      </aside>
      <!--sidebar end-->
      <!--main content start-->
      <section id="main-content">
        <section class="wrapper site-min-height">

          <%= yield %>
        </section>
      </section>
      <!--main content end-->
      <!--footer start-->
      <footer class="site-footer">
          <div class="text-center">
              2013 &copy; FlatLab by VectorLab.
              <a href="#" class="go-top">
                  <%= fa_icon "angle-up" %>
              </a>
          </div>
      </footer>
      <!--footer end-->
  </section>

  <%= javascript_include_tag 'admin' %>
  <%= gflash %>
  <%= yield :script %>

  <script>
      <%= extend_gritter :time => 2000 %>

      $(function(){
          $('input, textarea').placeholder();
      });

  </script>

  </body>
</html>
