<!DOCTYPE html>
<html>
<head>
  <meta property="qc:admins" content="2354672216517646" />
  <meta property="qc:admins" content="24313122505430116636" />
  <meta property="wb:webmaster" content="5dc39ed0d5203ca6" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Mosaddek">
  <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">  
  
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <title>YPortal</title>
  <%= stylesheet_link_tag    'wifi', media: 'all' %>
  <%= javascript_include_tag 'wifi' %>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
  <!--[if lt IE 9]>
    <%= javascript_include_tag 'html5shiv.js' %>
    <%= javascript_include_tag 'respond.min.js' %>
  <![endif]-->
  
</head>
<body class="portal_wraped">

  <%= gflash %>

	<%= yield %>
  <script>
    <%= extend_gritter :time => 2000 %>
    $(window).load(function() {
       $('.flexslider').flexslider({
           animation: "slide",
           start: function(slider) {
               $('body').removeClass('loading');
           }
       });
     });

    //    bxslider

    $('.bxslider').show();
    $('.bxslider').bxSlider({
        minSlides: 3,
        maxSlides: 2,
        slideWidth: 276,
        slideMargin: 20
    });

  </script>
  <footer class="footer reset_footer">
    <div class="container" >
      <div class="row mbot30">
        <div class="col-lg-5 col-xs-12 col-centered">
          <div class="row span5 col-centered">
            杭州云连网络技术有限公司
            <span class="pull-right">电话：0571-85360738<span>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
