<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="ROBOTS" content="NOINDEX, NOFOLLOW">

  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <title>
    <% if current_merchant && current_merchant.merchant_info && current_merchant.merchant_info.respond_to?(:name) %>
      <%= current_merchant.merchant_info.name %>
  <% else %>
      云链智能路由
  <% end %>
  </title>
  <% if params[:controller] == "wifi/merchants" && params[:action] == "home" %>
    <%= stylesheet_link_tag    'wifi_home', media: 'all' %>
  <% else %>
    <%= stylesheet_link_tag    'wifi', media: 'all' %>
  <% end %>


  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
  <![endif]-->

</head>
<body class="portal_wraped">

	<%= yield %>
  <% if params[:controller] == "wifi/merchants" && params[:action] == "home" %>
  <% else %>
    <div class="side-btns" id="float_section" style="opacity: 1;">
      <a href="javascript:void(0);" id="gotop" class="totop"></a>
              <a href="<%= wifi_merchant_path(mid: params[:mid], vtoken: params[:vtoken]) %>" class="tohome" id="tohome">
              <i style="display:none;"></i>
          </a>
    </div>
  <% end %>

<style type="text/css">

</style>
  <% if params[:controller] == "wifi/merchants" && params[:action] == "home" %>
    <%= javascript_include_tag 'wifi_home' %>
  <% else %>
    <%= javascript_include_tag 'wifi' %>
  <% end %>
  <%= gflash %>
  <script type="text/javascript">
    // gritter
    <%= extend_gritter :time => 2000 %>

    $(function(){

      $('.bxslider').bxSlider({
          auto: true,
          captions: true,
      });

    });

    // flash title

  </script>

  <%= yield :script %>

  <footer class="reset_footer">
    <div class="container" >
      <div class="row mbot30">
        <div class="col-lg-5 col-xs-12 col-centered">
          <div class="row span5 col-centered">
            杭州云链网络技术有限公司
            <span class="pull-right">电话：0571-85360738<span>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
